h1{
   
    text-align: center; 

}


body{

    background-color:white;
}
table{
    padding: 40px;
    margin: auto;
}
td{
    padding: 20px;
}

img{

    width: 200px;
    height: 200px;
    border: solid rgb(0, 0, 0) 5px;
    padding: 5px;

}

 h2{
    text-align: center;

} 

